body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  width: 70vw;
}

.product {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product img {
  max-width: 100px;
  max-height: 100px;
}

.product-title {
  display: block;
}

.product-price {
  font-weight: bold;
}

.cart {
  background-color: #f9f9f9;
  border-left: 1px solid #ccc;
  padding: 20px;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 30vw;
}

.cart-list {
  list-style: none;
  padding: 0;
}

.cart-product {
  border: 1px solid #ccc;
  background-color: #fff;
  display: flex;
  align-items: center;

  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .cart-product-actions {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin: 0 10px;
  }
  .cart-product-actions button {
    width: 30px;
    height: 30px;
    background-color: #007bff;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.cart-product-img {
  width: 30px;
}

.add-to-cart-btn,
.btn-buy,
.btn-clear {
  background-color: #007bff;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: block;
  margin-top: 10px;
  padding: 10px;
  width: 100%;
}

.add-to-cart-btn:hover,
.btn-add:hover,
.btn-remove:hover,
.btn-buy:hover,
.btn-clear:hover {
  background-color: #0056b3;
}
